.content {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
}

.header {
    height: 185px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.searchName {
    font-family: 'Mont';
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    margin-left: 9%;
    top: 72%;
    background: transparent;
    text-transform: uppercase;
}

.abstractLine {
    position: absolute;
    margin-left: 4%;
    top: 65%;
}

.shelf {
    box-sizing: border-box;
    padding: 0 50px;
}

.shelfStore {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15px;
}

.shelfLine {
    width: 1078px;
    color: #ffffff;
}