@import url("../../fonts/Mont-SemiBold/style.css");

.header {
    height: 130px;
    border-bottom: 1px solid #fff;
    display: flex;
}

.header a {
    display: flex;
}

.footer {
    height: 130px;
    border-top: 1px solid #fff;
    display: flex;
}


.logoContainer {
    width: 278px;
    border-right: 1px solid #fff;
    font-size: 36px;
    display: flex;
}

.logoContainer a {
    margin: auto;
}

.logoContainer a h1{
    font-size: 36px;
    font-family: Mont;
}

.space {
    width: -webkit-fill-available;
    min-width: 510px;
    display: flex;
    border-right: 1px solid #fff;
}

.iconsBlock {
    display: flex;
    float: right;
}

.iconsBlock a {
    text-decoration: none;
}

.iconSpace {
    width: 130px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
}

.activeIconSpace {
    background-color: #7B61FF;
}

.userName {
    display: flex;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
}

.iconSpace a{
    margin: auto;
    background-color: inherit;
    text-decoration: none;
}

.iconSpace a img{
    background-color: inherit;
    fill: white;
}

a:last-child .iconSpace{
    border-right: none;
}

/*.plug {*/
/*    width: 130px;*/
/*    border-right: 1px solid #fff;*/
/*}*/