.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 258px;
    margin-top: 32px;
}

.name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 20px;
}

.name:hover {
    color: #7B61FF;
}

.photo {
    transition: 0.5s;
}

.photo:hover {
    transform: scale(1.1);
}
