.content, .forTop {
    background-color: black;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    height: 300px;
}

.content:nth-child(3n+0) {
    border-right: none;
}

.forTop:nth-child(4n+0) {
    border-right: none;
}


.topPannel {
    display: flex;
    justify-content: space-between;
    margin: 8% 5%;
}

.rateNumber {
    margin-right: 10px;
}

.photo {
    display: flex;
    justify-content: space-around;
    width: 284px;
}

.photo a {
    display: flex;
    margin: 0;
    text-decoration: none;
}

.rating {
    display: flex;
    align-items: center;
}

.bottomPannel {
    display: flex;
    justify-content: space-between;
    margin: 8% 5%;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.abv {
    opacity: 0.8;
}

.beerData a {
    text-decoration-line: none;
}

.beerData a:hover {
    text-decoration-line: underline;
    color: #7B61FF;
}

.beerData a:hover p{
    color: #7B61FF;
}

.arrow {
    float: right;
    order:999;
    margin-left: auto;
    /*margin: 16px;*/
    background: transparent;
    border: none;
    height: 44px;
    width: 44px;
    background-image: url('../../../../../assets/images/arrow.svg');
}

.arrow:hover{
    background-image: url('../../../../../assets/images/arrowHover.svg');
}