@import url("../../fonts/Mont-SemiBold/style.css");

.header {
    height: 130px;
    border-bottom: 1px solid #fff;
    display: flex;
}

.footer {
    height: 130px;
    border-top: 1px solid #fff;
    display: flex;
}


.logo {
    width: 278px;
    border-right: 1px solid #fff;
    font-size: 36px;
    display: flex;
}

.logo a {
    margin: auto;
}

.logo a h1{
    font-size: 36px;
    font-family: Mont;
    /*margin: auto;*/
}

.space {
    width: 510px;
    border-right: 1px solid #fff;
}

.iconSpace {
    width: 130px;
    border-right: 1px solid #fff;
    display: flex;
}

.activeIconSpace {
    background-color: #7B61FF;
}

.iconSpace a{
    margin: auto;
    background-color: inherit;
}

.iconSpace a img{
    background-color: inherit;
    fill: white;
}

.iconSpace:last-child {
    border-right: none;
}